@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Share+Tech+Mono');

$space-grey: #14181c;
$space-green: hsl(171, 100%, 41%);


html, body {
    max-height: 100vh;
    margin: 0;
}
#main-view {
    height: 100vh;
    position: absolute;
}

#navbar {
    position: fixed;
    right: -75px;
    // right: 0;
    top:0;
    width: 75px;
    height: 100vh;
    background-color: hsl(0,0%,10%);
    
    z-index: 1;
    
    animation: navSlideIn 2s ease-in-out forwards;
    animation-delay: 0s; //5s
}
#nav-container {
    height: 100vh;
    margin: 40vh auto;
}
.nav.icon {
    position: relative;
    width: 100%;
    height: 60px;
    
    i {
        font-size: 35px; 
    }
    
    &:hover i, &.active i {
        color: $space-green;
    }

    &:hover {
        background-color: hsl(0,0%,10%);
    }

    &.active {
        background-color: hsl(0,0%,15%);
    }
}

#landing  {
    position: relative;   
    padding: 25% 0;
    word-spacing: 10px;
    
    animation: landSlideUp 2.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
#land-full-name {
    position: relative;
    vertical-align: middle;
    font-family: 'bungee hairline';
    
    animation: slideLeft 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
#land-role {
    position: relative;
    color: white;
    font-family: 'bungee hairline';

    animation: fadeOut 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}


#main-container {
    position: absolute;
    right: 75px;
    left: 0;
    height: 100%;

    opacity: 1;
    
    margin: -50px 0;
}
#main-container::-webkit-scrollbar { 
    display: none; 
}

.section {
    height: 100vh;

    ::after {
        vertical-align: middle;
    }
}

#about-container, #portfolio-container, #career-container, #contact-container {
    margin: 25px 75px;
}

#contact {
    position: relative;
    
}



#quick-contact {
    height: 100%;
    font-size: 20px;
    padding-top: 20%;

    * {
        margin-bottom: 15px;
    }

    #linkedin-btn {
        background-color: #0077B5;
    }
    
    #github-btn {
        background-color: hsl(0,0,10%);
    }
    
    #twitter-btn {
        background-color: #1DA1F2;
    }
    
    a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
}




#about-me-window {
    position: relative;
    opacity: 0;

    background-color: grey;
    padding: 25px;

    border-top: 50px solid hsl(0,0%,15%);

    animation: showContainer 1.5s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

#bio {
    p {
        padding-bottom: 10px;
    }
}

#profile-pic {
    position: absolute;
    top: -125px;
    right: -50px;

    width: 150px;
    height: 150px;

    border-radius: 5px;
    border: 10px solid rgba(0,0,0,0.5);
}

#portfolio-container {
    position: relative;


    .proj-cols .columns .column {
        
        margin: 10px;
        padding: 0;
        
        border: 5px solid rgba(50,50,50,0.75);
        border-radius: 5px;
        
        .project {
            position: relative;
            margin: 5px;
            border-radius: 5px;
            
            height: 35vh;
            background-color: #fff;

            .description {
                position: absolute;
                display: none;
                background-color: rgba(0,0,0,.87);
                height: 100%;
                width: 100%;
                padding: 1rem;

                .button {
                    margin-top: 1rem;
                }
                p{
                    width: 100%;
                }
            }

            img {
                height: 100%;
                width: 100%;
            }
        }

        &:hover {
            border: 5px solid $space-green;

            .project .description {
                display: inline;
                text-align: center;
            }
        }

    }
}

#career-container {
    position: relative;

    .columns:last-child {
        padding: 10px 20px;
    }
}
.career2 {
    padding-left: 20px !important;
    margin-bottom: 20px;
    color: $space-green;
    font-family: monospace;

    line-height: 1.25;

    .title.is-5 {
        margin-bottom: 0;
        color: $space-green;
    }
}
.career3 {
    color: hsl(0,0%,45%);

    .school-desc {
        font-family: monospace;

        div {
            display: flex;
            flex-direction: row;
        }
    }
}
.graph {
    border-left: 2px solid grey;
    margin-left: 10px;
}
.bar {
    background-color: $space-green;
    height: 10px;
    margin-right: 3px;
}

.flex {
    display: flex;
    align-items: center;
}

#email-window {
    background-color: grey;
    padding: 25px;
    border-top: 50px solid hsl(0,0%,15%);

}


.modal {
    .modal-content {
        margin: auto 1rem;
    }

    .modal-content, .modal-background {
        height: 100%;
        width: 100%;
    }

    img{
        height: 45%;
        width: 55%;
    }

    .row {
        display:flex;

        p{
            color: grey;
            padding-left: 2rem;
        }
    }

    a {
        width: 100%;
        text-align: center
    }
}





.hairline {
    font-family: 'Bungee Hairline';
}

.tech-mono {
    font-family: 'share tech mono';
}


@keyframes showContainer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}


@keyframes landSlideUp {
    from {
        padding: 25% 0;
      
    }
    to {
        padding: 20px 0;
 
    }
}



@keyframes slideLeft {
    from {
        right: auto;
    }
    to {
        right: 0;
    }
}

@keyframes navSlideIn {
    from {
        right: -75px;
    }
    to {
        right: 0;
    }
}


@keyframes fadeOut {
    from {
        opacity: 1; 
        color: white;
    }
    to {
        opacity: 0.5;
        color: transparent;
    }
}

@media screen and (max-width: 1024px) {
    #land-full-name {
        width: 100vw;
        font-size: 5vw;
        animation: none;
    }
    #land-role{
        font-size: 3vw;
    }
}
@media screen and (max-width: 600px) {
    #land-full-name {
        font-size: 8vw;
    }
    #land-role{
        font-size: 5vw;
    }
}

